body{
    background-color: lightcyan;
}
/* * {
    box-sizing: border-box;
  }
     */
.MyClass{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .rectangle {
    background-color: pink;
    border-radius: 25px;
    height: 50%;
    width: 50%;
    position: absolute; 
    right: 5px; 
    bottom: 50%; 
    transform: translateY(50%); 
    border: 4px solid black;
  }


  .rectangle-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
  }
  .container{
    text-align: center;
  }
  #btn{
    border-radius: 25px;
    font-size: 18px;
  }
  
h2{
    text-align: center;
    color: lightslategrey;
}