body{
    background-color: lightcyan;
}
/* .image-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    object-fit: cover;
    z-index: -2;
} */

    
.MyClass{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* add position relative this will prevent the children from moving out of the parent container */
    position: relative;
  }
  
  /* .MyClass__background {
      background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_509107562_2000133320009280346_351827.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 100vh;
    }
   */
  .rectangle {
    position: absolute; /* will move the rectangle to the top left corner */
    right: 5px; /* move to the right with 5px space on the right with 5px space on the right */
    bottom: 50%; /* this and translate center the image vertically */
    transform: translateY(50%);
    border: 4px solid darkgrey;
  }
  
  /* Center and display the image & text side by side */
  .rectangle-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
  }
  
  
h2{
    color: lightslategrey;
}